<%= content_for :javascript do %>
  <script>
    ckeditorInitializers.initFullEditor($('.editor_here'));
  </script>
<% end %>


<h1>Ckeditor test</h1>
<p>Problem with configuring bold</p>


<div class="editor_here"></div>
