<%= content_for :javascript do %>
  <script>
    var editor = ckeditorInitializers.initFullEditor($('.editor_here'));
    editor.on('instanceReady', function () {
      editor.setReadOnly(false);
    });
  </script>
<% end %>


<h1>Ckeditor test</h1>
<p>Problem with configuring bold</p>


<div class="editor_here" style="padding: 2em; border: 1px solid black">YO DAWG</div>
